In [414]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

# Make multiple prints work
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [415]:
tmc = pd.read_json('tmc.json')

tmc.drop(['volume_usd'], inplace=True, axis=1)

tmc['date'] = tmc['market_cap_by_available_supply'].astype(str).str.extract('(?P<date>\d{4}-\d{2}-\d{2})')
tmc['date'] = pd.to_datetime(tmc['date'], format='%Y-%m-%d')

tmc['tmc'] = tmc['market_cap_by_available_supply'].astype(str).str.extract('(?P<value>\d+\.\d)', expand=False)
tmc['tmc'] = tmc['tmc'].astype(float).astype(int)

tmc.drop(['market_cap_by_available_supply'], inplace=True, axis=1)

tmc.set_index('date', inplace=True)
# Remove the duplicated for some reason last record
tmc.drop(tmc.index[len(tmc)-1], inplace=True)

# Check for duplicates
tmc[tmc.index.duplicated()]

df = tmc

Empty DataFrame
Columns: [tmc]
Index: []

In [416]:
def setup(df, coinName):
    
    df.drop(['price_btc', 'volume_usd'], inplace=True, axis=1)
    
    df['date'] = df['price_usd'].astype(str).str.extract('(?P<date>\d{4}-\d{2}-\d{2})')
    df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
    df[coinName + '_price'] = df['price_usd'].astype(str).str.extract('(?P<price>\d+\.\d+)').astype(float)
    df[coinName + '_mc'] = df['market_cap_by_available_supply'].astype(str).str.extract(', (?P<price>\d+)').astype(int)
    df.drop(['market_cap_by_available_supply'], inplace=True, axis=1)
    df.drop(['price_usd'], inplace=True, axis=1)
    
    df.set_index('date', inplace=True)
    # Remove the duplicated for some reason last record
    df.drop(df.index[len(df)-1], inplace=True)
    
    # Check for duplicates
    # print(df[df.index.duplicated()])
    
    return df

for coinName in ['btc', 'eth', 'xrp', 'xlm', 'ltc']:
    df = df.join(setup(pd.read_json(coinName + '.json'), coinName))
    df[coinName + '_ret'] = np.log(df[coinName + '_price'].pct_change(1)+1)

df.head()

,tmc,btc_price,btc_mc,btc_ret,eth_price,eth_mc,eth_ret,xrp_price,xrp_mc,xrp_ret,xlm_price,xlm_mc,xlm_ret,ltc_price,ltc_mc,ltc_ret
date,,,,,,,,,,,,,,,,
2016-01-01,7098250000,431.196,6.480617e+09,NaN,0.933442,70849438.0,NaN,0.006045,202743550.0,NaN,0.001755,8489609.0,NaN,3.47933,152560132.0,NaN
2016-01-02,7139190000,433.818,6.521456e+09,0.006062,0.948646,72026659.0,0.016157,0.005940,199215746.0,-0.017553,0.001747,8452603.0,-0.004368,3.50766,153851002.0,0.008109
2016-01-03,7144890000,433.842,6.523378e+09,0.000055,0.940705,71447659.0,-0.008406,0.006072,203637993.0,0.021955,0.001750,8466728.0,0.001670,3.50109,153609747.0,-0.001875
2016-01-04,7067980000,428.833,6.449670e+09,-0.011613,0.968536,73586334.0,0.029156,0.006007,201449340.0,-0.010806,0.001737,8402294.0,-0.007639,3.47787,152643142.0,-0.006654
2016-01-05,7151150000,434.155,6.531656e+09,0.012334,0.957776,72793217.0,-0.011172,0.005965,200037078.0,-0.007035,0.001752,8472726.0,0.008348,3.49904,153625748.0,0.006069

In [417]:
def calc_event_stats(date_ev, win_est, win_evnt):
    
    """
    Calculates how significant the impact of an event on coins' prices was.

    :param date_ev: the date of the event
    :param win_est: the length of the estimation window
    :param win_evnt: the one-side length of the event window (day-2,day-1,event,day+1,day+2)
    :returns: 
    :raises keyError: raises an exception if there is no historical data for a specific range
    """
    
    date_ev = pd.to_datetime(date_ev, format='%Y-%m-%d')
    est_l1 = date_ev - pd.to_timedelta(win_est + win_evnt, unit='d')
    est_l2 = date_ev - pd.to_timedelta(win_evnt + 1, unit='d')
    eve_l1 = date_ev - pd.to_timedelta(win_evnt, unit='d')
    eve_l2 = date_ev + pd.to_timedelta(win_evnt, unit='d')
    
    print('Esimation window:', est_l1.strftime('%Y-%m-%d'), ':', est_l2.strftime('%Y-%m-%d'))
    print('Event window:', eve_l1.strftime('%Y-%m-%d'), ':', eve_l2.strftime('%Y-%m-%d'))
    print('Event date:', date_ev.strftime('%Y-%m-%d'))

    est_w = df.loc[est_l1:est_l2].copy()
    eve_w = df.loc[eve_l1:eve_l2].copy()

    for coinName in ['btc', 'eth', 'xrp', 'xlm', 'ltc']:
        mc = coinName + '_mc'
        ret = coinName + '_ret'
        ar = coinName + '_ar'
        t = coinName + '_t'
        car = coinName + '_car'

        tmcret = df['tmc'] - df[mc]
        tmcret = np.log(tmcret.pct_change(1)+1)
        tmcret = tmcret.dropna()
        model = sm.OLS(est_w[ret], tmcret[est_l1:est_l2]).fit()
        #model.summary()
        slope = model.params.values[0]
        se = model.bse.values[0]

        eve_w[ar] = eve_w[ret] - (tmcret[eve_l1:eve_l2] * slope)
        eve_w[t] = eve_w[ar] / se
        eve_w[car] = eve_w[ar].cumsum()
    
    s = eve_w.filter(regex='_t$').style.apply(lambda x: ["background: cyan" if abs(v) > 1.96 else "" for v in x], axis = 1)
    s.index = s.index.normalize()
    return s

### Cryptocurrency related events
# DAO attack June 17, 2016
calc_event_stats('2016-06-17', 120, 2)
# Parity Muti-sig wallets Nov 6, 2017
calc_event_stats('2017-11-06', 120, 2)

### Macro-economic unrelated events
# Brexit - June 24, 2016
calc_event_stats('2016-06-24', 120, 4)
# Trump - November 8, 2016 
calc_event_stats('2016-11-08', 120, 4)

Esimation window: 2016-02-16 : 2016-06-14
Event window: 2016-06-15 : 2016-06-19
Event date: 2016-06-17

Esimation window: 2017-07-07 : 2017-11-03
Event window: 2017-11-04 : 2017-11-08
Event date: 2017-11-06

Esimation window: 2016-02-21 : 2016-06-19
Event window: 2016-06-20 : 2016-06-28
Event date: 2016-06-24

Esimation window: 2016-07-07 : 2016-11-03
Event window: 2016-11-04 : 2016-11-12
Event date: 2016-11-08